<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <% data.forEach((item)=>{%>
            <div>
                <h2>country <%= item.country %></h2>
                <p>Date: <%= item.date%></p>
            </div>
            <form action="/detail/<%= item.id%>" method="post">
                <input type="submit" value="view details">
            </form>
    
        <%})%>
    </section>

</body>
</html>